.todo__list{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    border: 1px solid lightgray;
    margin-bottom: 10px !important;
    border-radius: 20px;
    background-color: rgb(20, 44, 87);
}